body {
  background-color: #f1adad;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #ecf56c;
  color: #000000;
  border-style: none;
  
}